@page "/1"
@using Application.Dtos
@rendermode InteractiveServer

@inject IPlayerService playerService

<PageTitle>Temp Games</PageTitle>

<div class="d-flex justify-content-center">
    <div class="input-group w-auto"
    <input type="text" class="form-control"
        placeholder="Search for player">
    </div>
    <button class="btn d-inline" type="submit" @onclick="LoadData">Search</button>
</div>

<div class="container mt-3">
    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <h1>
                Name:
                @if (dto != null)
                {
                    @dto.PlayerName
                }
            </h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="d-inline">
            <h3>
                Time Played:
                @if (dto != null)
                {
                    @dto.KillsDeathsRatio
                }
            </h3>
        </div>
    </div>
</div>


@code {
    // [CascadingParameter]
    // public PlayerStatsState PlayerState { get; set; }
    PlayerDashboardDto dto;

    public async Task LoadData()
    {
        var playerName = "Player1";
        var data = Task.FromResult(await playerService.GetPlayerDashboardDataAsync(playerName));
        dto = data.Result;

    }
}
